/* shared style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

ul, ol{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  height: auto;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 80px;
}

/* nav section */
.nav-content{
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav-content ul li a{
  color: #707070;
  font-size: 1.2rem;
}

.nav-content ul li a:hover{
  color: #b6845a;
}

.nav-content #nav-btn{
  padding: 18px 30px;
}

.nav-content #nav-btn:hover{
  background-color: #414040;
}

@media screen and (max-width: 480px) {
  .container{
  padding: 0 20px;
}
  .nav-content{
    gap: 20px;
    flex-direction: column;
  }

  .nav-content ul{
    background-color: #414040;
    padding: 8px 20px;
    gap: 15px;
    border-radius: 15px;
  }

  .nav-content ul li a{
    color: #ffffff;
    font-size: 1rem;
  }

  .nav-content #nav-btn{
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container{
  padding: 0 20px;
}

  .nav-content{
    gap: 20px;
    flex-direction: column;
  }

  .nav-content ul{
    background-color: #414040;
    padding: 8px 30px;
    border-radius: 15px;
  }

  .nav-content ul li a{
    color: #ffffff;
  }

  .nav-content #nav-btn{
    padding: 10px 20px;
  }
}
/* hero section */
.hero-content{
  padding: 104px 240px;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)), url(../images/banner.png);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.hero-content h1{
  font-size: 4.2rem;
  font-weight: 800;
  line-height: normal;
}

.hero-content p{
  margin-top: 24px;
  margin-bottom: 32px;
  color: #e7e7e7;
}

.hero-content form #hero-search{
  margin-right: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px 230px 20px 20px;
}

.hero-content form #hero-search-btn{
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #b6845a;
  padding: 17px 39px;
  border-radius: 8px;
}

.hero-content form #hero-search-btn:hover{
  background-color: #414040;
}

@media screen and (max-width: 480px) {
  .hero-content{
    padding: 30px 20px;
  }

  .hero-content h1{
    font-size: 2.3em;
  }

  .hero-content p{
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .hero-content form #hero-search{
    margin-right: 5px;
    padding: 5px 40px 5px 15px;
  }

  .hero-content form #hero-search-btn{
    padding: 5px 10px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero-content{
    padding: 70px 100px;
  }

  .hero-content h1{
    font-size: 3.4em;
  }

  .hero-content p{
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .hero-content form #hero-search{
    margin-right: 10px;
    padding: 10px 100px 10px 20px;
  }

  .hero-content form #hero-search-btn{
    padding: 10px 15px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hero-content{
    padding: 104px 150px;
  }

  .hero-content h1{
    font-size: 4em;
  }

  .hero-content form #hero-search{
    margin-right: 10px;
    
  }
}

/* practice-area sectiion */
section.practice-area{
  margin: 120px 0;
}

.pa-content h2{
  margin-bottom: 24px;
  font-size: 2.2rem;
  color: #414040;
  font-weight: 800;
}

.pa-content .pa-content-p{
  margin-bottom: 64px;
  padding: 0 200px;
  color: #707070;
}

.pa-card-area>div{
  padding: 55px 72px 70px 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pa-content .pa-card-area #unq-div{
  background: linear-gradient(to bottom, rgba(243, 243, 243, 1), rgba(243, 243, 243, 0));
  border: 1px solid #e7e7e7;
}

.pa-content .pa-card-area div img{
  margin-bottom: 32px;
  width: 70px;
  height: 72px;
}

.pa-content .pa-card-area>div h3{
  margin-bottom: 24px;
  color: #414040;
  font-size: 2rem;
  font-weight: 800;
}

.pa-content .pa-card-area div p{
  margin-bottom: 32px;
  color: #707070;
}

.pa-content .pa-card-area div .frame{
  width: 40px;
  height: 40px;
} 

@media screen and (max-width: 480px) {
  section.practice-area{
    margin: 80px 0;
  }

  .pa-content h2{
    font-size: 2rem;
  }

  .pa-content .pa-content-p{
    margin-bottom: 40px;
    padding: 0;
  }

  .pa-card-area{
    grid-template-columns: 1fr;
  }

  .pa-card-area>div{
    padding: 40px;
    border-bottom: 2px solid #e7e7e7;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  section.practice-area{
    margin: 100px 0;
  }

  .pa-content h2{
    font-size: 2.4rem;
  }

  .pa-content .pa-content-p{
    margin-bottom: 50px;
    padding: 0 50px;
  }

  .pa-card-area{
    grid-template-columns: repeat(2, 1fr);
  }

  .pa-card-area>div{
    padding: 40px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .pa-card-area>div{
    padding: 40px;
  }
}

/* review section */
.review-content h2{
  margin-bottom: 24px;
  color: #414040;
  font-size: 2.2rem;
  font-weight: 800;
}

.review-content p{
  margin-bottom: 64px;
  padding: 0 270px;
  color: #707070;
}

.review-content .rc-img{
  padding: 95px 135px;
  background: url(../images/banner.png) rgba(17, 17, 17, 0.8);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.review-content .rc-img img{
  justify-self: center;
  margin-bottom: 24px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.review-content .rc-img h3{
  margin-bottom: 4px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 800;
}

.review-content .rc-img h4{
  margin-bottom: 32px;
  color: #ffffff;
}

.review-content .rc-img article{
  color: #F3F3F3;
}

@media screen and (max-width: 480px) {
  .review-content h2{
    font-size: 2rem;
  }

  .review-content p{
    padding: 0;
  }

  .review-content .rc-img{
    padding: 60px 40px;
    background-position: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .review-content p{
    padding: 0 50px;
  }

  .review-content .rc-img{
    padding: 80px 80px;
    background-position: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .review-content p{
    padding: 0 200px;
  }

  .review-content .rc-img{
    padding: 95px 100px;
    background-position: center;
  }
}

/* question section */
section.question{
  margin: 120px 0;
}

.q-content h2{
  text-align: center;
  margin-bottom: 24px;
  color: #414040;
  font-size: 2.2rem;
  font-weight: 800;
}

.q-content .q-p1{
  text-align: center;
  margin-bottom: 64px;
  padding: 0 270px;
  color: #707070;
}

.q-content-dt{
  gap: 30px;
}

.q-content .q-content-dt .qstn-area>div{
  margin-bottom: 30px;
  padding: 32px;
  width: 400px;
  background-color: #F3F3F3;
  border-radius: 8px;
}

.q-content .q-content-dt .qstn-area>div h3{
  margin-bottom: 16px;
  color: #414040;
  font-style: 1.2rem;
  font-weight: 800;
}

.q-content .q-content-dt .qstn-area>div p{
  color: #707070;
}

.q-content .q-content-dt .qstn-area>div> h3>span{
  font-size: 1.2rem;
  margin-left: 50px;
}

.q-content .q-content-dt .qstn-img{
  align-content: center;
}

@media screen and (max-width: 480px) {
  section.question{
    margin: 80px 0;
  }

  .q-content h2{
    font-size: 2rem;
  }

  .q-content .q-p1{
    padding: 0;
  }

  .q-content-dt{
    flex-direction: column-reverse;
  }

  .q-content .q-content-dt .qstn-area>div{
    padding: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  section.question{
    margin: 80px 0;
  }

  .q-content .q-p1{
    padding: 0 50px;
  }

  .q-content-dt{
    flex-direction: column-reverse;
  }

  .q-content .q-content-dt .qstn-area{
    justify-items: center;
  }

  .q-content .q-content-dt .qstn-area>div{
    width: 100%;
    text-align: center;
  }

  .q-content .q-content-dt .qstn-area>div h3{
    font-size: 1.5rem;
  }

  .q-content .q-content-dt .qstn-area>div> h3>span{
    font-size: 1.5rem;
  }

  .q-content .q-content-dt .qstn-area>div p{
    padding: 0 85px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .q-content .q-p1{
    padding: 0 200px;
  }

  .q-content .q-content-dt .qstn-area>div{
    padding: 20px;
  }

  .q-content .q-content-dt .qstn-img{
    align-content: center;
  }
}

/* contact section */
section.contact{
  margin-bottom: 120px;
}

.c-content h2{
  text-align: center;
  margin-bottom: 24px;
  color: #414040;
  font-size: 2.2rem;
  font-weight: 800;
}

.c-content .c-p1{
  text-align: center;
  margin-bottom: 64px;
  padding: 0 270px;
  color: #707070;
}

.c-content .c-dt .c-dt-info{
  background-color: #cfcfcf;
  gap: 1px;
}

.c-content .c-dt .c-dt-info:hover{
  background-color: #b6845a;
}

.c-content .c-dt .c-dt-info>div{
  padding: 65px;
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-content .c-dt .c-dt-info>div img{
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
}

.c-content .c-dt .c-dt-info>div h3{
  margin-bottom: 16px;
  color: #414040;
  font-size: 1.2rem;
  font-weight: 800;
}

.c-content .c-dt .c-dt-info>div address{
  color: #707070;
}

.c-content .c-dt .c-dt-info>div span a{
  display: block;
  color: #707070;
}

.c-content .c-dt .c-dt-info>div p{
  margin-bottom: 0;
  color: #707070;
}

.c-content .c-dt .c-dt-form input{
  padding: 23px;
  margin-bottom: 30px;
  background-color: #F3F3F3;
  border-radius: 8px;
}

.c-content .c-dt .c-dt-form textarea{
  margin-bottom: 30px;
  padding: 23px;
  background-color: #F3F3F3;
  border-radius: 8px;
}

.c-content .c-dt .c-dt-form #c-dt-form-btn{
  margin-bottom: 0;
  padding: 23px;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #B68C5A;
  border-radius: 8px;
}

.c-content .c-dt .c-dt-form #c-dt-form-btn:hover{
  background-color: #414040;
}

@media screen and (max-width: 480px) {
    section.contact{
    margin-bottom: 80px;
  }

  .c-content h2{
    font-size: 2rem;
  }

  .c-content .c-p1{
    padding: 0;
  }

  .c-content .c-dt{
    flex-direction: column;
  }

  .c-content .c-dt .c-dt-info{
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  section.contact{
    margin-bottom: 80px;
  }

  .c-content .c-p1{
    padding: 0 50px;
  }

  .c-content .c-dt{
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .c-content .c-p1{
    padding: 0 200px;
  }

  .c-content .c-dt{
    flex-direction: column;
  }
}