/* shared style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

ul, ol{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  height: auto;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 80px;
}

/* nav section */
.nav-content{
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav-content ul li a{
  color: #707070;
  font-size: 1.2rem;
}

.nav-content ul li a:hover{
  color: #b6845a;
}

.nav-content #nav-btn{
  padding: 18px 30px;
}

.nav-content #nav-btn:hover{
  background-color: #414040;
}

@media screen and (max-width: 480px) {
  .container{
  padding: 0 20px;
}
  .nav-content{
    gap: 20px;
    flex-direction: column;
  }

  .nav-content ul{
    background-color: #414040;
    padding: 8px 20px;
    gap: 15px;
    border-radius: 15px;
  }

  .nav-content ul li a{
    color: #ffffff;
    font-size: 1rem;
  }

  .nav-content #nav-btn{
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container{
  padding: 0 20px;
}

  .nav-content{
    gap: 20px;
    flex-direction: column;
  }

  .nav-content ul{
    background-color: #414040;
    padding: 8px 30px;
    border-radius: 15px;
  }

  .nav-content ul li a{
    color: #ffffff;
  }

  .nav-content #nav-btn{
    padding: 10px 20px;
  }
}
/* hero section */
.hero-content{
  padding: 104px 240px;
  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)), url(../images/banner.png);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.hero-content h1{
  font-size: 4.2rem;
  font-weight: 800;
  line-height: normal;
}

.hero-content p{
  margin-top: 24px;
  margin-bottom: 32px;
  color: #e7e7e7;
}

.hero-content form #hero-search{
  margin-right: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px 230px 20px 20px;
}

.hero-content form #hero-search-btn{
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #b6845a;
  padding: 17px 39px;
  border-radius: 8px;
}

@media screen and (max-width: 480px) {
  .hero-content{
    padding: 30px 20px;
  }

  .hero-content h1{
    font-size: 2.3em;
  }

  .hero-content p{
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .hero-content form #hero-search{
    margin-right: 5px;
    padding: 5px 40px 5px 15px;
  }

  .hero-content form #hero-search-btn{
    padding: 5px 10px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero-content{
    padding: 70px 100px;
  }

  .hero-content h1{
    font-size: 3.4em;
  }

  .hero-content p{
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .hero-content form #hero-search{
    margin-right: 10px;
    padding: 10px 100px 10px 20px;
  }

  .hero-content form #hero-search-btn{
    padding: 10px 15px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hero-content{
    padding: 104px 150px;
  }

  .hero-content h1{
    font-size: 4em;
  }

  .hero-content form #hero-search{
    margin-right: 10px;
    
  }
}